* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  background-color: rgba(29, 28, 28, 0.733);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}